.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background: rgba(27, 27, 27, .5)
}

.navigation h1{
    color: #fff;
}
.navigation nav{
    display: flex;
    align-items: center;
    gap: 16px;
}

.input__button{
    display: flex;
    align-items: center;
    gap: 16px;
}

.navigation .navigation_button{
    background-color: #E82C60;
    color: white;
    padding: 8px 32px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 428px){
    .navigation{
        background: rgba(27, 27, 27, 1);
        position: absolute;
        bottom: 0;
        flex-direction: column;
        padding-top: 32px;
        width: 100%;
    }

    .navigation h1{
        font-size: 24px;
        margin-bottom: 16px;
    }
}

@media (max-width: 428px){
    .navigation{
        background: rgba(27, 27, 27, 1);
        position: fixed;
        bottom: 0;
        flex-direction: column;
        
    }

    .navigation h1{
        font-size: 18px;
        margin-bottom: 16px;
    }
}